<section class="content-section container">
    <h2 class="section-header">SIGN UP SUCCESS</h2>
    <h1></h1>
    <img src="assets/Josh.png" class="about-company-image">

    <p>Once you have made your first monthly payment and it has been confirmed your personalized gym plan will be created and emailed to you.<br><br>
    You will also be able to make bookings with one of our personal trainers at a slot and venue that suites you and that the personal trainer has made available.<br><br>
  </p>
      <br><br>
    <h1 routerLink="/homepage">Click here to return to Home page</h1>


    </section>


<div class="cont" >
<div class="box">
<img src="assets/Josh.png" alt="">
</div>
<div class="box" routerLink="/challenges">

  <img src="assets/d.png" alt="">
</div>
<div class="box">
    <img src="assets/Josh.png" alt="">
    </div>
</div> 
