<!--The content below is only a placeholder and can be replaced.-->
<header class="main-header">
  <nav class="nav main-nav">
<ul>
    <li><a routerLink="/homepage">Home</a></li>
    <li><a routerLink="/exerciseplan">Exercise Plans</a></li>
    <li><a routerLink="/challenges">Challenges</a></li>
    <li><a routerLink="/subscriptions">Subscriptions</a></li>
    <li><a routerLink="/userprofile">User Profile</a></li>
    <li><a>LogOut</a></li>
  </ul> 
</nav>
<h1 class="company-name company-name-large">JessterFIT<img src="assets/Josh.png" alt="jesster" width="115" height="128"></h1>
</header>

<router-outlet></router-outlet>

<footer class="main-footer">
  <div class="container main-footer-container">
    <h3 class="company-name">JessterFIT</h3>
    <ul class="nav footer-nav">
      <li>
        <a href="https://www.youtube.com" target="_blank">
        <img src="assets/youtube.png">
        </a>
      </li>
      <li>
          <a href="https://www.facebook.com" target="_blank">
          <img src="assets/insta.png">
          </a>
        </li>
        <li>
            <a href="https://www.instagram.com" target="_blank">
            <img src="assets/face.png">
            </a>
          </li>
    </ul>
  </div>
</footer>
