<section class="content-section container">
    <h2 class="section-header">CHALLENGES</h2>
    <h1>6 WEEKS TO SHRED CHALLENGE</h1>
    <img src="assets/Josh.png" class="about-company-image">
    <h2 class="section-header">What you will recieve</h2>

    <ul>
      <li>2x 3 Training Plans</li>
      <br><br>
      <li>JessterFIT Vests</li>
    </ul>

    </section>

<h1 routerLink="/confirmchallenge">Click here to Sign Up Now</h1>

<div class="cont" routerLink="/exerciseplan">
<div class="box">
<img src="assets/Josh.png" alt="">
</div>
<div class="box" routerLink="/challenges">

  <img src="assets/d.png" alt="">
</div>
<div class="box">
    <img src="assets/Josh.png" alt="">
    </div>
</div>  
