<section class="content-section container">
    <h2 class="section-header">PAYMENT DETAILS</h2>
    <h1></h1>
    <img src="assets/Josh.png" class="about-company-image">
    <h2 class="section-header">Account details</h2>

    <ul>
      <li>JessterFIT</li>
      <li>62089323705</li>
      <li>Cheque</li>
      <li>Pretoria</li>
      <li>205440</li>
    </ul>
    <br><br>
    <p>Once you have made the payment click the confirm option. The owner will then be notified of the payment and as soon as the owner has recieved a proof of payment from the bank, he will confirm your subscription and all services will be made available to you.<br><br>
    Once the owner has confirmed your monthly payment an email will be sent to you notifying you of the confirmed subscription.</p>
      <br><br>
    <h1 routerLink="/successsignup">Click here to Confirm Payment</h1>
    <br><br>
    <h1 routerLink="/subscriptions">Click here to Cancel</h1>

    </section>


<div class="cont" routerLink="/exerciseplan">
<div class="box">
<img src="assets/Josh.png" alt="">
</div>
<div class="box" routerLink="/challenges">

  <img src="assets/d.png" alt="">
</div>
<div class="box">
    <img src="assets/Josh.png" alt="">
    </div>
</div> 
