<section class="content-section container">
    <h2 class="section-header">SUBSCRIPTION DETAILS</h2>
    <img src="assets/Josh.png" class="about-company-image">

<p>Please be aware that you will have to make a payment every month inorder to keep your subscription running with all of its benefits.<br><br>
Once you have made a payment the owner will confirm your payment.<br><br>
Once confirmed your subscription will begin.<br><br>
Please click agree and pay and make your payment to begin the true JessterFIT experience.<br><Br>
Please be aware that once your subscription has been confirmed and you decide you would like to cancel you will not be given back the amount payed for that month.<br><br>
You can cancel any subscription within 10 days of payment to have no further charges, any time after you will have to make the next monthly payment before you are allowed to cancel the subscription.<br><Br>
  Please confirm the chosen length of your subscription and the price.<br><br>
</p>

<h3>24 Months</h3>
<ul>
  <li>Price: R4500</li>
  <li>Price per month: R188p/m</li>
  <li>Discount: 15%</li>
</ul>

    </section>
<br><br>
<h1 routerLink="/paymentDetails">Click here to Confirm and Pay</h1>
<br><br>
<h1 routerLink="/subscriptions">Click here to Cancel</h1>

<div class="cont">
<div class="box">
<img src="assets/Josh.png" alt="">
</div>
<div class="box" routerLink="/challenges">

  <img src="assets/d.png" alt="">
</div>
<div class="box">
    <img src="assets/Josh.png" alt="">
    </div>
</div> 
