<section class="content-section container">
            <h2 class="section-header">ABOUT</h2>
            <img src="assets/Josh.png" class="about-company-image">
            <p> Having trained for 7 years and playing rugby at a provincial level and suffering a hand injury. I started taking my dieting and training slightly more seriously.<br><br>
                After watching a WBFF show in 2014 where my spark for competing was lit and my passion for diet and training grew at an uncontrollable rate. 12 weeks after my WBFF show I competed in my first fitness model show and placed first during my matric year of school.<br><br>
            </p>
            <p>
                I wasn’t sure whether to continue and do another show or focus on school. Well contrary to others opinions I did the National Show, won and qualified for Nabba Worlds in Australia.  I won the South African WBFF show and competed at WBFF Worlds in Toronto Canada.<br><br>
                I have a passion for people and a desire to help them reach their goals without sacrifices the joys life has to offer.</p>
            </section>

            <h2 class="section-header">What We Offer</h2>

    <div class="cont" routerLink="/exerciseplan">
        <div class="box">
            <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
            <div class="content">
                <h3>Exercise Plans</h3>
                <p>Click here to view Exercise plans.</p>
            </div>
        </div>
        <div class="box" routerLink="/challenges">
            <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
            <div class="content">
                    <h3>Challenges</h3>
                    <p>Click here to view Challenges.</p>
                </div>
        </div>
        <div class="box" routerLink="/subscriptions">
            <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
            <div class="content">
                    <h3>Subscriptions</h3>
                    <p>Click here to view Subscriptions</p>
                </div>         
        </div>
    </div>  




