<body>
  <div class="profile-card">
    <div class="image-container">
      <img src="assets/u.png" alt="Single" style="width: 100%">
      <div class="title">
        <h2>Joshua Eales</h2>
      </div>
    </div>
  </div>
  <div>
    <div class="main-container">
        <p><i class="fa fa-id-badge info" aria-hidden="true"></i>00001</p>
        <p><i class="fa fa-user info" aria-hidden="true"></i>Joshua</p>
        <p><i class="fa fa-user info" aria-hidden="true"></i>Eales</p>
        <p><i class="fa fa-phone info" aria-hidden="true"></i>0723846243</p>
        <p><i class="fa fa-male info" aria-hidden="true"></i>1.2 m</p>
        <p><i class="fa fa-calendar info" aria-hidden="true"></i>16/11/1996</p>
      <p><i class="fa fa-envelope info" aria-hidden="true"></i>joshuaeales@gmail.com</p>
      <hr>
      <p><b><i class="fa fa-asterisk info">Injuries</i>
      </b></p>
      <p>Torn Hamstring</p>
    </div>
  </div>
</body>
