<section class="content-section container">
    <h2 class="section-header">SUBSCRIPTIONS</h2>
    <img src="assets/Josh.png" class="about-company-image">
    <p> A subscription will get you the best out of the JessterFIT experience, upon payment confirmation you will be able to book a private personal training session with one of our personal trainers
      who have in depth knowledge of the JessterFIT training programs.<br><br>
      You will also recieve a new custom exercise plan for every month of your subscription.<br><br>
      Each custom plan will be created for your own desired needs, body type, weight and any past injuries that may affect certain exercises.
    </p>
    </section>


<h1>Subscriptons we offer</h1>
<div class="cont">
<div class="box">

    <div class="content" routerLink="/confirmSubscription">
        <h3>6 Months</h3>
        <ul>
          <li>Price: R1500</li>
          <li>Price per month: R250p/m</li>
          <li>Discount: None</li>
        </ul>
    </div>
</div>
<div class="box">

    <div class="content" routerLink="/confirmsub2">
        <h3>12 Months</h3>
        <ul>
          <li>Price: R2500</li>
          <li>Price per month: R208p/m</li>
          <li>Discount: 10%</li>
        </ul>
    </div>
</div>
<div class="box">

    <div class="content" routerLink="/confirmsub3">
        <h3>24 Months</h3>
        <ul>
          <li>Price: R4500</li>
          <li>Price per month: R188p/m</li>
          <li>Discount: 15%</li>
        </ul>
    </div>
</div>
</div> 
